html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-check .form-check-input {
    margin-left: -1.25rem;
    margin-top: 0.7rem;
}
.was-validated .form-control:valid, .form-control.is-valid, .was-validated .form-control:invalid, .form-control.is-invalid {
    padding-left: 0.375rem;
}

label:is(.error) {
    font-weight: unset !important;
    background-image: none;
    color: red;
    font-size: 14px;
}

